.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px 20px;
}

.container > button {
  padding: 10px 10px;
  width: 157px;
  border-radius: 5px;
  background-color: #ff6b00;
  color: white;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(217, 217, 217, 0.23);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.form > p {
  font-size: 8px;
  line-height: 12px;
  padding: 0px;
  margin: 0px;
}

.select__container {
  display: flex;
  position: relative;
  color: rgba(0, 0, 0, 0.44);
  font-weight: 500;
  line-height: 15px;
}

.down {
  width: 10px;
  height: 8px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.select {
  background-color: white;
  border-radius: 5px;
  height: 37px;
  font-size: 10px;
  padding: 0px 5px;
  border: none;
}

.select::part(icon) {
  display: none;
}

.add {
  font-size: 10px;
  line-height: 15px;
  color: #ff5c00;
  font-weight: 500;
}
